<form class="example-form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Seu nome Completo">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sua idade">
  </mat-form-field>
<br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Seu sexo">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Seu Endereço">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sua data de nasciemtno">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Seu CPF">
  </mat-form-field>
</form>